html,body {
    font-size: 15px;
    height: 100%;

    background-color: hsl(0, 0%, 100%);
   
   
}

.main {
    max-width: 1440px;
    height: 100%;

    font-family: 'Spartan', sans-serif;
    font-size: 1em;
    padding: 2em;

    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
}

.all-section {
    margin: 0em auto;
}

/* HEADER SECTION */
.header-stars-box {
    display: flex;
    flex: row;
    justify-content: space-between;
}
.header-section {
    max-width: 50%;
    padding-left: 2em;
}

.header-box {
    position: relative;
}
.header-box h1{
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    max-width: 90%;

    overflow-wrap: break-word;
}
.header-box p {
    color:hsl(303, 10%, 53%);
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    max-width: 80%;
    overflow-wrap: break-word;
    position: relative;
    top: -1em;
}

/* STARS SECTION */
.stars-section {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-top: 2em;
    position: relative;
}

.stars-box {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    max-width: 100%;

    background-color: hsl(300, 24%, 96%);

    padding: 0.5em 3em;
    border-radius: 0.4em;

    position: relative;
    
}
.stars-box:first-child{
    top: -1em;
    right: 8em;
}

.stars-box:nth-child(2){
    right: 5em;
}

.stars-box:last-child{
    margin-bottom: none;
    top: 1em;
    right: 2em;
}


.stars-box img {
    max-width: 90%;
    height: auto;
    -webkit-font-smoothing: antialiased;

    margin-right: 0.2em;
    vertical-align:middle;

    position: relative;
    right: 1em;

}

.stars-box p{
    position: relative;
    top: 0.1em;
}
.stars-text {
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    margin-left: 2em;
    -webkit-font-smoothing: antialiased;    
    
}

/* REVIEW SECTION */
.reviews-section {
    display: flex;
    flex-direction: row;

    max-width: 100%;
    height: auto;
    padding-left: 2em;
    margin-top: 2em;
    position: relative;
}
.review-box {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 1em;
    border-radius: .8em;
    margin-right: 2em;

    max-width: 100%;
    height: 10em;

    padding: 3em 2em 2.5em 2em;
    background-color: hsl(300, 43%, 22%);

}

.review-box:nth-child(2) {
    position: relative;
    top: 1em;

}
.review-box:last-child {
    position: relative;
    top: 2em;
    margin-right: none;
}


.review-img {
    max-width: 13%;
    height: auto;
    border-radius: 3em;

    
}
.review-box h3,
.review-box p {
    color: hsl(300, 24%, 96%);
}
.name, .buyer, .review {
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
    -webkit-font-smoothing: antialiased;
}

h3.name,
h3.buyer {
    position: relative;
    top: -3.9em;
    left: 4em;

}

h3.buyer {
    color:hsl(333, 80%, 67%);
    font-weight: 400;
    top: -4.7em;

}

p.review {
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
    font-size: 0.75;
    line-height: 1.7;
    position: relative;
    top: -3.5em;

}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .main {
        background-image: url(../images/bg-pattern-top-mobile.svg);
        background-position: top left;
        background-repeat: no-repeat;

        height: auto;
        max-width: 100%;
    } 

}

@media screen and (max-width: 1100px) {

    .all-section {
        margin: 0;
    }

    .header-stars-box {
        display: flex;
        flex-direction: column;   

        justify-content: flex-start;
        align-items: center;
    }

    .stars-section {
        display: flex;
        flex-direction: column;
        max-width: 100%;
         
    }

    .header-section {
        max-width: 80%;
        height: auto;
        text-align: center;
        margin: 0 auto;
        
    }
    .header-box h1 {
        margin-bottom: 1em;
        max-width: 100%;
    

    }
    .header-box p {
        margin-bottom: 2em;
        font-size: 0.9em;
        line-height: 1.6;
        max-width: 100%;
    }
    .stars-section {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }
    .stars-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-bottom: 1em;
        position: relative;

    }
    .stars-box:first-child{
        top: auto;
        right: auto;
    }
    
    .stars-box:nth-child(2){
        right: auto;
    }
    
    .stars-box:last-child{
        top: auto;
        right: auto;
    }

    .stars-box p {
        margin: 1em auto;
        font-size: 0.9em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;

    } 
    .stars-svg {
        padding-top: 0.8em;
        position: relative;
        left: 1em;

    }
    .stars-box img {
        max-width: 50%;
        height: auto;
        padding-top: 0.5em;
    }

    .reviews-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
@media screen and (max-width:900px){
    .reviews-section {
        margin: 0 auto;
    }
    .reviews-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: auto;
        margin-top: 2em;
      
       
    }
    .review-box {
        margin-bottom: 1em;
        max-width: 100%;
        height: fit-content;
        padding-top: 1em;
        padding-bottom: 1em;
        position: relative;
    }
    .review-box h3 {
        position: relative;
        margin-left: 4em;
    }
    .review-box h3:last-child {
        margin-bottom: 1em;
    }

    .review-img {
        max-width: 10%;
        height: auto;
        border-radius: 3em;
        margin-left: 0.5em;
        margin-top: 1em;
    }
    
    
}

@media screen and (max-width: 585px) {

    .header-section {
        max-width: 100%;
        height: auto;
    }
    
    .stars-section {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .stars-box {
        padding: 0;
        max-width: 100%;
    }
    .stars-box p{
      font-size: 1em;
      padding: 0.1em;
    }

   .review-box {
       position: relative;
   }
   .review-box h3 {
       margin-left: 1em;
   }
}



@media screen and (max-width: 400px) {
        
    .review-box {
        position: relative;
    }
    .review-box h3 {
        padding-top: 1em;
    }
    

}
