html,body {
    font-size: 15px;
    height: 100%;

    background-color: hsl(0, 0%, 100%);
   
   
}

.main {
    max-width: 1440px;
    height: 100%;

    font-family: 'Spartan', sans-serif;
    font-size: 1em;
    padding: 1em;

    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
}

.all-section {
    margin: 4em;
}

/* HEADER SECTION */
.header-stars-box {
    display: flex;
    flex: row;
    justify-content: space-between;
}
.header-section {
    max-width: 50%;
}

.header-box {
    position: relative;
}
.header-box h1{
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 3em;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    max-width: 90%;

    overflow-wrap: break-word;
}
.header-box p {
    color:hsl(303, 10%, 53%);
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    max-width: 80%;
    overflow-wrap: break-word;
    position: relative;
    top: -1em;
}

/* STARS SECTION */
.stars-section {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center;

    position: relative;
}

.stars-box {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    max-width: 100%;

    background-color: hsl(300, 24%, 96%);

    padding: 0.5em 3em;
    border-radius: 0.4em;

    position: relative;
    
}
.stars-box:first-child{
    top: -1em;
    right: 8em;
}

.stars-box:nth-child(2){
    right: 5em;
}

.stars-box:last-child{
    margin-bottom: none;
    top: 1em;
    right: 2em;
}


.stars-box img {
    max-width: 90%;
    height: auto;
    -webkit-font-smoothing: antialiased;

    margin-right: 0.2em;
    vertical-align:middle;

    position: relative;
    right: 1em;

}

.stars-box p{
    position: relative;
    top: 0.1em;
}
.stars-text {
    color: hsl(300, 43%, 22%);
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    margin-left: 2em;
    -webkit-font-smoothing: antialiased;

    
    
}

/* REVIEW SECTION */
.reviews-section {
    display: flex;
    flex-direction: row;

    max-width: 100%;
    height: auto;

    margin-top: 2em;
    position: relative;
}
.review-box {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 1em;
    border-radius: .8em;
    margin-right: 2em;

    max-width: 100%;
    height: 10em;

    padding: 3em 2em 2em 2em;

    background-color: hsl(300, 43%, 22%);

}

.review-box:nth-child(2) {
    position: relative;
    top: 1em;

}
.review-box:last-child {
    position: relative;
    top: 2em;
    margin-right: none;
}



.review-img {
    max-width: 13%;
    height: auto;
    border-radius: 3em;
    

    
}
.review-box h3,
.review-box p {
    color: hsl(300, 24%, 96%);
}
.name, .buyer, .review {
    font-family: 'Spartan', sans-serif;
    font-size: 0.8em;
}

h3.name,
h3.buyer {
    position: relative;
    top: -3.9em;
    left: 5em;

}

h3.buyer {
    color:hsl(333, 80%, 67%);
    font-weight: 400;
    top: -4.7em;

}

p.review {
    -webkit-font-smoothing: antialiased;
    /* max-width: 90%; */
    overflow-wrap: break-word;
    font-size: 0.75;
    line-height: 1.7;
    position: relative;
    top: -3.5em;

}